@font-face {
    font-family: 'Mario Party';
    src: url('/Mario-Party-Hudson-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

circle.space-icon {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.toggleholder {
    position: absolute;
    right: 0.52vw;
    top: 1vh;
    z-index: 1;
}

.board {
    position: absolute;
    top: 5%;
    left: 20%;
}

.state {
    right: 1%;
    /* background-color: lightgreen; */
}

.players {
    left: 1%;
}

.players > * {
    position: relative;
    height: 25%;
}

.sidebar {
    top: 5%;
    position: absolute;
    width: 18%;
    height: 90%;
    padding: 0 0.26vw 0 0.26vw;
}

p {
    font-family: 'Mario Party';
    font-size: min(1.04vw, 2.1vh);
    margin: 0;
}

.turn-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.turn-select > * {
    margin-right: 0.21vw;
    margin-left: 0.21vw;
    top: 30%;
}

.turn-select > p {
    font-size: min(2.5vw, 5vh);
}

.space-display {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: gray;
    border: 0.16vw black solid;
    border-radius: 5%;
    z-index: 5;
}

.space-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.space-display-title {
    display: inline-flex;
    justify-content: left;
    width: 100%;
    background-color: white;
    border-radius: 0.42vw 0.42vw 0 0;
    margin-bottom: 0.2vh;
    padding-bottom: 0.2vh;
    height: 3.2vh;
}

.space-display-title > p {
    font-size: min(1.75vw, 2.5vh);
}

.space-display-close {
    position: absolute;
    top: min(0.26vw, .5vh);
    right: min(0.26vw, .5vh);
    width: 15px;
    height: 15px;
    background-color: red;
    cursor: pointer;
    border: 0.1vw solid black;
    border-radius: 50%;
}

.space-display-close:hover {
    background-color: darkred;
}

.space-display-space-info {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2%;
    height: 40%;
    margin-top: 1vh;
}

.space-display-space-info > svg > g > circle.space-icon {
    cursor: default;
}

.space-display-space-info > svg > g > g.icon {
    cursor: default;
}

.space-display-space-info > svg {
    margin-left: 2%;
    width: 15%;
}

.space-display-space-info > div {
    width: 80%;
}

.space-display-orb-info {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 2%;
}

.space-display-orb-select {
    width: 15%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: left;
    align-items: center;
}

.space-display-orb-description {
    width: 80%;
    
}

.orb-owner-select {
    display: inline-grid;
    margin-left: 0.260416667vw;
    justify-items: center;
    align-items: center;
}

.orb-owner-select > *{
    grid-row: 1;
    grid-column: 1;
}

.orb-owner {
    width: min(3.125vw, 6.5vh);
    height: min(3.125vw, 6.5vh);
    cursor: pointer;
}

.orb-owner-option {
    display: inherit;
    position: relative;
    height: min(2vw, 4vh);
    width: min(2vw, 4vh);
    border-radius: 50%;
    z-index: -1;
    transform: translate(0px, 0px) scale(0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.orb-owner:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(50%);
}

.orb-owner:active {
    -webkit-filter:brightness(25%);
    -moz-filter:brightness(25%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(25%);
}

.orb-owner-option:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(50%);
}

.orb-owner-option:active {
    -webkit-filter:brightness(25%);
    -moz-filter:brightness(25%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(25%);
}

.orb-owner-option.oo2 {
    display: inherit;
    z-index: 1;
    box-shadow: 0 0 5px gray;
    transform: translate(-35px, 35px);
}

.orb-owner-option.oo1 {
    display: inherit;
    z-index: 1;
    box-shadow: 0 0 5px gray;
    transform: translate(-35px, -35px);
}

.orb-owner-option.oo4 {
    display: inherit;
    z-index: 1;
    box-shadow: 0 0 5px gray;
    transform: translate(35px, 35px);
}

.orb-owner-option.oo3 {
    display: inherit;
    z-index: 1;
    box-shadow: 0 0 5px gray;
    transform: translate(35px, -35px);
}

.space-display-debug {
    display: flex;
    justify-content: center;
    align-content: center;
}

.space-star-icon {
    cursor: pointer;
}

.move-select-options {
    display: flex;
    justify-content: center;
    gap: 0.260416667vw;
}

.move-select > p {
    font-size: min(1.88vw, 3.45vh);
}

.move-select-options > img {
    cursor: pointer;
}

.move-select-options > img:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(50%);
}

.move-select-options > img:active {
    -webkit-filter:brightness(25%);
    -moz-filter:brightness(25%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(25%);
}

.player-board-icon {
    cursor: pointer;
}

.move-select-slection.selected {
    background: rgba(0, 127, 0, 0.5);
}

.map-modes {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.map-sliders {
    display: flex;
    justify-content: center;
    align-content: center;
}

.map-modes > p {
    font-size: min(1.88vw, 3.45vh);
}