.bonus-star {
    display: grid;
    grid-template-columns: 6.9039913700108vh auto auto;
    grid-template-rows: 1fr auto auto;
    column-gap: 0.26vw;
    row-gap: .54vh;
}

.bonus-icon {
    grid-row: 1 / span 3;
    grid-column: 1;
    align-self: center;
}

.bonus-star-name {
    grid-row: 1;
    grid-column: 2 / span 2;
}

.bonus-star-name > p {
    font-size: 2vw;
}

.bonus-star-tracker.p1 {
    grid-row: 2;
    grid-column: 2;
}

.bonus-star-tracker.p2 {
    grid-row: 2;
    grid-column: 3;
}

.bonus-star-tracker.p3 {
    grid-row: 3;
    grid-column: 2;
}

.bonus-star-tracker.p4 {
    grid-row: 3;
    grid-column: 3;
}

.bonus-star-tracker > img {
    width: 1.56vw;
    height: 1.56vw;
    float: left;
}

.bonus-star-tracker > * {
    /* top: 5px; */
    margin-left: .1vw;
}

.bonus-star-tracker-amt > p {
    /* width: 1.7vw; */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 1.5vw;
}

.bonus-star-tracker {
    display: flex;
    align-items: center;
}

.stacked-num-buttons > * {
    margin-bottom: .21vh;
}

.bonus-icon > svg {
    width: 3.33vw;
    height: 3.33vw;
}

.bonus-star-winner {
    background-color: gold;
}