:root {
    --circle-button-color: #aaa;
    --circle-button-hover-color: #666;
    --circle-button-press-color: #333;
}

@font-face {
    font-family: 'Mario Party';
    src: url('/Mario-Party-Hudson-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.circle-button {
    width: min(1.5vw, 2.16vh);
    height: min(1.5vw, 2.16vh);
    border-radius: 50%;
    background-color: var(--circle-button-color);
    cursor: pointer;
    font-family: 'Mario Party', 'Courier New', Courier, monospace;
    font-size: min(1.5vw, 2.16vh);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-button:hover {
    background-color: var(--circle-button-hover-color);
}

.circle-button:active {
    background-color: var(--circle-button-press-color);
}

.circle-button > p {
    align-self: center;
    justify-self: center;
    margin: 0;
    font-size: min(1.4vw, 2vh);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.circle-button:hover > p {
    color: #ddd;
}

.turn-indicator {
    position: relative;
    width: min(2.08vw, 4.31vh);
    height: min(2.08vw, 4.31vh);
    border-radius: 37.5%;
    background-color: black;
}

.turn-indicator > .inner {
    position: absolute;
    width: min(1.56vw, 3.23vh);
    height: min(1.56vw, 3.23vh);
    border-radius: 50%;
    top: min(.26vw, .54vh);
    left: min(.26vw, .54vh);
    background-color: white;
}

.turn-indicator > .inner > p {
    position: absolute;
    top: 0;
    font-size: min(1.25vw, 2.59vh);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}